<div class="col md-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <img src="https://image.freepik.com/vector-gratis/grupo-personas-casuales-pie-gran-multitud-etnica-diversa-ilustracion_195647-39.jpg" width="100" height="100" class="img-fluid" alt="PERFIL">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="login" routerLinkActive="active">USUARIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="Home" routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Listas" routerLinkActive="active">LISTA DE PRODUCTOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
